body{
    background-color: rgb(40, 51, 58);
    font-family: Verdana;
    font-size: 2em;
}

#mySubmit{
    font-size: 1em;
}

.container{
    font-size: 2em;
    color: azure;
}

.subBox{
    display: flex;
    align-items: center;
    color: rgb(169, 216, 223);
}